venv/
.idea/
__pycache__/
controllers/abstract.py

controllers/party.py
models/abstract.py

models/party.py
repositories/__init__.py
repositories/abstract.py

repositories/party.py
views/__init__.py
views/party.py
